<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/validateInputs.js"></script>

  </head>
  <body>
    
    <header>
      <% include ./partials/header %>
    </header>
    
    <main>
      <div class="container">
        <h2>MMiRNA-plot</h2>
        <p>A simple microRNA analysis and plot tool for mRNA and microRNA datasets.</p>
        <form class="form-horizontal" role="form" action="/params" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label class="control-label col-sm-2" for="input1">Select miRNA File</label>
            <div class="col-sm-4 input-group">
              <input type="text" class="form-control" disabled id="input1" placeHolder="Browse or choose from server">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Browse...<input type="file" id="miRnaFromUsr" name="miRNAFromUser">
                </span>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% miRna.forEach(function(file) { %>
                    <li><a onClick='alert("<%=file.value %>")'><%=file.name %></a></li>
                  <% }); %>
                </ul>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="input2">Select mRNA File</label>
            <div class="col-sm-4 input-group">
              <input type="text" class="form-control" disabled id="input2" placeHolder="Browse or choose from server">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Browse...<input type="file" id="mRnaFromUsr" name="miRNAFromUser">
                </span>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% mRna.forEach(function(file) { %>
                    <li><a onClick='alert("<%=file.value %>")'><%=file.name %></a></li>
                  <% }); %>
                </ul>
              </span>
            </div>
            
            <!-- <div class="col-sm-3">
              <select class="form-control" id="input2" name="mRNA">
                <option value=0 checked>Choose from existed files</option>
                <% mRna.forEach(function(file) { %>
                  <option value=<%= file.value %>><%=file.name %></option>
                <% }); %>
              </select>
            </div> -->
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="top">Select Top Results</label>
            <div class="col-sm-4">
              <select class="form-control" id="top" name="top">
                <option>10</option>
                <option>50</option>
                <option>100</option>
                <option>150</option>
                <option>200</option>
                <option>1000</option>
                <option>2000</option>
                <option>5000</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="database">Matches at least</label>
            <div class="col-sm-4">
              <select class="form-control" id="database" name="match">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>
          <div class="form-group has-feedback" id="email">
            <label class="control-label col-sm-2" for="email">Email: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="email" placeHolder="Enter your email address" name="email" aria-describedby="emailCorrectStatus">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" id="email"></span>
              <span id="emailCorrectStatus" class="sr-only">(success)</span>
              <span class="help-block" id="email">Please enter your email address for result.</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success" id="submit">Submit</button>
              <button class="btn btn-danger" id="reset" type="reset">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
